[submodule "src/ti_es_gyroscope_package"]
	path = src/ti_es_gyroscope_package
	url = https://github.com/nicoripkip/ti_es_gyroscope_package.git
[submodule "src/ti_es_motor_package"]
	path = src/ti_es_motor_package
	url = https://github.com/nicoripkip/ti_es_motor_package.git
[submodule "src/ti_es_logger_package"]
	path = src/ti_es_logger_package
	url = https://github.com/nicoripkip/ti_es_logger_package.git
[submodule "src/ti_es_keypad_screen_package"]
	path = src/ti_es_keypad_screen_package
	url = https://github.com/Luco-Dev/ti_es_keypad_screen_package
[submodule "src/ti_es_gps_package"]
	path = src/ti_es_gps_package
	url = https://github.com/Luco-Dev/ti_es_gps_package
[submodule "src/ti_es_keypad_screen_esp"]
	path = src/ti_es_keypad_screen_esp
	url = https://github.com/Luco-Dev/ti_es_keypad_screen_esp
[submodule "src/ti_es_distance_sensor_package"]
	path = src/ti_es_distance_sensor_package
	url = https://github.com/Tecert/ti_es_distance_sensor_package
[submodule "src/ti_es_temperature_humidity_package"]
	path = src/ti_es_temperature_humidity_package
	url = https://github.com/DavidAkerboom/ti_es_temperature_humidity_package/
[submodule "src/ti_es_lifecycle_manager_package"]
	path = src/ti_es_lifecycle_manager_package
	url = https://github.com/DavidAkerboom/ti_es_lifecycle_manager_package
[submodule "src/ti_es_launch"]
	path = src/ti_es_launch
	url = https://github.com/DavidAkerboom/ti_es_launch
