[submodule "src/ti_es_gyroscope_package"]
	path = src/ti_es_gyroscope_package
	url = https://github.com/nicoripkip/ti_es_gyroscope_package.git
[submodule "src/ti_es_motor_package"]
	path = src/ti_es_motor_package
	url = https://github.com/nicoripkip/ti_es_motor_package.git
[submodule "src/ti_es_logger_package"]
	path = src/ti_es_logger_package
	url = https://github.com/nicoripkip/ti_es_logger_package.git
[submodule "src/ti_es_keypad_screen_package"]
	path = src/ti_es_keypad_screen_package
	url = https://github.com/Luco-Dev/ti_es_keypad_screen_package
[submodule "src/ti_es_gps_package"]
	path = src/ti_es_gps_package
	url = https://github.com/Luco-Dev/ti_es_gps_package
[submodule "src/ti_es_keypad_screen_esp"]
	path = src/ti_es_keypad_screen_esp
	url = https://github.com/Luco-Dev/ti_es_keypad_screen_esp
